%ul.places(style='display: none')
  %li.github=   link "Github",   "http://github.com/quinn"
  %li.linkedin= link "LinkedIn", "http://www.linkedin.com/in/quinnshanahan"
  %li.twitter=  link "Twitter",  "http://twitter.com/dontdie"
  %li.resume=   link "Resume"

#areas
  .toggle-links(style='display: none')
    Some updates from:
    %a.github(href='#github') Github

  .github
    %h2 Github Updates
    .description
      Visit my profile:
      = link "Github", "http://github.com/quinn"
    .loading loading
    .row-template(style='display: none')
      %a.header(href='' target='blank')
      %pre.description

  .twitter
    %h2 Twitter Updates
    .description
      Visit my profile:
      = link "Twitter", "http://twitter.com/dontdie"
    .loading loading
    .row-template(style='display: none')
      %blockquote.description
      %a.permalink(href='' target='blank') Permalink
