%ul.places(style='display: none')
  %li.github=   link "Github",   "http://github.com/quinn"
  %li.linkedin= link "LinkedIn", "http://www.linkedin.com/in/quinnshanahan"
  %li.twitter=  link "Twitter",  "http://twitter.com/dontdie"
  %li.resume=   link "Resume"

.toggle-links
  .description
    Some updates from:
  .highlight
  -%w(github twitter flickr blog).each do |link|
    %a(href="##{link}" class=link)= link.capitalize

#areas
  .overflow
    .area.github
      %h2 Github Updates
      .description
        Visit my profile:
        = link "Github", "http://github.com/quinn"
      .loading loading
      .row-template(style='display: none')
        %a.header(href='' target='blank')
        %pre.description

    .area.twitter
      %h2 Twitter Updates
      .description
        Visit my profile:
        = link "Twitter", "http://twitter.com/dontdie"
      .loading loading
      .row-template(style='display: none')
        %blockquote.description
        %a.permalink(href='' target='blank') Permalink

    .area.flickr
      %h2 Flickr Photos
      .description
        Visit my profile:
        = link "Flickr", "http://www.flickr.com/photos/q-shan/"
      .loading loading
      .row-template(style='display: none')
        .title
        .picture
          %img

    .area.blog
      %h2 Blog
      .description
        The blog:
        = link "Blog", "http://blog.quinnshanahan.com"
      .loading loading
      .row-template(style='display: none')
        %a.title(href='')
        .description

