#quinn.bio
  %h1 Quinn Shanahan

  %h2 The Basics

  %p.tagline
    "Developer with demonstrated success in the design, development and
    deployment of flexible web frameworks in a wide range of business
    environments"

  %p
    I'm a flexible web developer, I've dabbled in all aspects of web
    development and deployment, on many different platforms. I specialize in
    web application development using ruby based web frameworks. More than
    anything I am interested in using the right software for the right solution,
    there is no one size fits all answer. Being a good web developer means
    having extensive experience in many different fields. 

  %h2 Currently

  %p
    Right now I am working for a technology consultancy
    == (#{link('Control Group', 'http://controlgroup.com')})
    where I have the oppurtunity to work on a variety of projects with small
    and large clients.

  %p
    You can track what I am currently working on in my
    = link "Github profile", 'http://github.com/quinn'
    or on my
    == #{link "Twitter feed", 'http://twitter.com/dontdie'}.

  %h2 Experience / Projects

  #experience
    .company
      %h3 Senior Consultant
      \-
      = link "Control Group", 'http://controlgroup.com'
      %div Technology Consultancy
      %div September 2009 - Present (1 year)
    .company
      %h3 Consultant
      \-
      = link 'Walker Group', 'http://wgclaims.com'
      %div Insurance Adjustments
      %div March 2009 - June 2009 (4 months)
    .company
      %h3 Web Developer
      \-
      = link '3mix', 'http://3mix.com/'
      %div Computer Software industry
      %div January 2008 - December 2008 (1 year)
    .company
      %h3 CTO
      \-
      = link 'ENN', 'http://enn.com/'
      %div Environmental Services industry
      %div February 2007 - January 2008 (1 year)
    .company
      %h3 Web Designer
      \-
      = link 'ArtSelect, Inc', 'http://artselect.com/'
      %div Computer Software industry
      %div June 2005 - December 2005 ( 7 months)
    .company.last
      %h3 Intern Web Developer
      \-
      = link 'Harper Brush Works', 'http://harperbrush.com/'
      %div Privately Held; Consumer Goods industry
      %div April 2004 - May 2005 (1 year 2 months)

  %h2 Skills

  #skills
    %ul
      %li
        backend development
        %ul
          %li Ruby / Ruby on Rails / Merb / Rack (4 years)
      %li
        frotend skills
        %ul
          %li CSS / XHTML (7 years)
          %li Javascript / jQuery / Google Vis+Maps (4 years)
          %li Photoshop (11 years)
      %li
        IT
        %ul
          %li unix / bash (3 years)
          %li apache / nginx / passenger(mod_rails) (7 years)
          %li slicehost / ec2+s3 (3 years)

  %h2 Contact Info

  .contact
    .name Quinn Shanahan
    .phone 641-233-1123
    .email= link address = 'q.shanahan@gmail.com', "mailto:#{address}"
