!!!
%html
  %head
    %title Quinn Shanahan (dot) com
    = stylesheets
    = javascripts "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascripts "underscore"
    = javascripts 'site'
  %body
    %a#header(href='/')
      %h1 Quinn Shanahan (dot) com
    #wrapper
      = yield
